# ================================
# Audio lourds (Processing Sound)
# ================================
code/data/Sons/*.wav


# ================================
# Fichiers temporaires / Processing
# ================================
*.log
*.tmp

# ================================
# OS / IDE
# ================================
.DS_Store
Thumbs.db
*.bak